.content {
  position: relative;
  height: max-content;
  margin-top: -40px;

  &__close {
    color: #fff;
    width: 40px;
    height: 40px;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

