.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  position: relative;


  img {
    vertical-align: top;
    width: 300px;
    height: 100%;
    border:1px solid #1c1c1c32;
    border-radius: 10px;
   
  }
}

.item:hover{
  cursor:pointer;
}

@media screen and (max-width:560px){
  .item { 
    img {
      width: 220px;    
    }
  }
}
