
/*Mostramos los elementos segun el breakpoint de bootstrap en 992*/
.TogglerMobile{
    display: none;
}
.CartMobile{
    display:none
}

@media screen and (max-width:991px)
{
    .ToglerDesktop{
        display:none;
    }
    .TogglerMobile{
        display: inline-block;
    }
    .CartMobile{
        display:inline-block
    }
    .CartDesktop{
        display: none;
    }
}

.menuSuperior{
    border-bottom: 1px solid #ffffff31;
}


.boton:hover{
     
    background-color: white !important;
    color:black !important;
    font-weight: bolder;
}

